[submodule "HAL_Engine/vendor/spdlog"]
	path = HAL_Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HAL_Engine/vendor/GLFW"]
	path = HAL_Engine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "HAL_Engine/vendor/imgui"]
	path = HAL_Engine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "HAL_Engine/vendor/glm"]
	path = HAL_Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
